# ================= Dependencies =================
node_modules/

# ================= Build =================
build/
dist/

# ================= Environment Files =================
.env
.env.*
backend/.env
frontend/.env

# ================= Testing =================
coverage/

# ================= Logs =================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ================= OS Files =================
.DS_Store